/* Mobile First */

*{
	box-sizing:border-box;
	margin:0px;
	
}

body{
	background-color:black;
}

header{
	width:100%;
	height:300px;
	background-image: url("bilder//header_logga_moon.jpg");
	background-position: center;
	
}

#logga{
	height:50%;
	margin:auto;
}


#menuBar{
	position: relative;
	height:100%;
	width:100%;
}

#menu{
	display:flex;
	position:absolute;
	bottom:0;	
	padding:0;
	width:100%;
	border:1px solid black;
}

#menu li{
	width:100%;
	 background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 1) ); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 1) ); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 1) ); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 1) ); /* Standard syntax */
	height:80px;
	list-style:none;
	text-align:center;
	line-height:80px;
	font-family:"Lucida Sans Unicode";
	
}

#menu li:hover{
	background: -webkit-linear-gradient(rgba(211, 211, 211, 0.5), rgba(211, 211, 211, 1) ); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(211, 211, 211, 0.5), rgba(211, 211, 211, 1) ); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(211, 211, 211, 0.5), rgba(211, 211, 211, 1) ); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(211, 211, 211, 0.5), rgba(211, 211, 211, 1) ); /* Standard syntax */
	
}

#main{
	margin:auto;
	max-width:1000px;
}

.content{
	height:500px;
	background:black;
	border:1px solid black;
	color:#fff;
	padding:10px;
	width:100%;
	border-bottom:2px solid white;
}

.contentImage{
	height:200px;
	background-image: url("bilder//content_1_cropped.jpg");
	background-position: center;
	margin:auto;
}

.textBox{
	padding:20px;
	max-height:270px;
	overflow:auto;
}

.contentHead, .contentText{
	font-family:"Lucida Sans Unicode";
	
}

footer{
	font-family:"Lucida Sans Unicode";
	background-color:white;
}

footer h2{
	font-weight:bold;
}

footer h3{
	color:#262626;
	
}

/* PC */
@media(min-width:600px){
	#main{
		width:90%;
		min-width:600px;
	}
	
	.content{
		min-width:600px;
	}
	
	.contentImage{
		width:70%;
		min-width:550px;
	}

	
	
}

@media(min-width:660px){
	.content{
		margin:10px;
		border:2px solid white;
	}
}

@media(min-width:800px){
	.content{
		margin:3%;
	}
	
}

@media(min-width:1000px){}
